.customer {
  padding-top: 10rem;
  padding-bottom: 5rem;
}
.customer .customer__item {
  margin-bottom: 1rem;
}
.customer .customer__title {
  font-size: 1rem;
}
.customer .customer__date {
  font-weight: 600;
  color: #BEBEBE;
}
.customer .customer__text {
  margin-bottom: 0.25rem;
}

@media (max-width: 575.98px) {
  .customer {
    padding-left: 4rem;
  }
}
